# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Media files
uploads/
outputs/
temp/

# IDE/editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

http://127.0.0.1:8000/api/temp/2339048c-01cd-446f-b7da-0c8f224a310e_landmarks.jpg